<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
   
    
    <div class="container">
        <h1>Space Hangman</h1>
        <h2 id="palabraAhorcado" class="subfont">Adivina la palabra: {{ palabraAhorcado }}</h2>
        
        <h3 id="incorrectas" class="subfont">Incorrectas: {{ incorrectas }}</h3>

        <h3 id="vidas" class="subfont">Vidas: {{ vidas }}</h3>

       

        <form action="/adivinar" method="post">
            <input type="text" name="input" placeholder="Enter a letter" pattern="[A-Za-z]+" class="subfont-input">
            <button type="submit" class="subfont">Guess</button>
        </form>

        <form action="/play_again" method="post">
            <button type="submit" class="subfont">Play Again</button>
        </form>
    </div>

    
</body>