<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado - Defeat!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="space-bg">
    <div class="container">
        <h1>Oh no, Perdiste!</h1>
        <p>No pudiste adivinar la palabra: <strong>{{ palabra }}</strong></p>
        <a href="{{ url_for('play_again') }}" class="btn">Volver a jugar</a>
    </div>
</body>
</html>